:root {
    --bg-dark: #121212;
}

body {
    background-color: var(--bg-dark) !important;
}

.text {
    color: ghostwhite;
}

#app {
    margin: 2em auto;
}

@media screen and (max-width: 768px) {
    .mainCol {
        margin: 1em auto;
    }
}

@media screen and (min-width: 768px) {
    .second {
        margin-top: 2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
        height: 172px;
    }
}

#mainData {
    text-align: center;
    color     : ghostwhite;
}

.card {
    background-color: var(--dark) !important;
}

.card-title,
.titleListItem {
    color: royalblue;
}

.list-group-item {
    background-color: var(--dark) !important;
    color           : ghostwhite;
    border          : 1px solid var(--bg-dark) !important;
}